@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  background: #0F1E36;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
}